@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.container1{
        padding: 100px;
        background: #397093;
        background-image: linear-gradient(90deg, transparent 9px,
        #04090a5b 1px,
        #2083946b 2px,
        transparent 11px),
        linear-gradient(#052f2d11 0.1rem,
        transparent -10em);
        background-size: 20% 15em;
        flex-wrap: wrap;
       
}

.box1{
    text-align: center;
    
}
.row h3{
    font-size: 20px;
    font-weight: 700;
}
.small-container{
    margin-top: 20px;
    box-sizing: border-box;
    border: 3px solid #cacaca;
    width: 610px;
    align-items: center;
    height: 330px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.row{
    display: block;
    margin-left: 350px;
    text-align: left;
}
.row h3{
    margin-top: 10px;
    color: #f5f5f5;
}
.row p{
    margin-top: 5px;
}
.row span{
    text-align: right;
}
.live{
    display: flex;
    padding-right: 5px;
}
.live span{
    margin-left: 340px;
    gap: 30px;
}
.arsna p{
    margin-top: 10px;
    background: #F9FAFB;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}
.arsna{
    display: flex;
    margin-right: 5px;
}
.arsna [FaHtml] {
    margin-top: 5px;
}
.fa-html5{
    margin-right: 7px;
}
.fa-react{
    margin-right: 7px;
}
.fa-bootstrap{
    margin-right: 7px;
}
.fa-js{
    margin-right: 7px;
}
.fa-figma{
    margin-right: 7px;
}
.stack h2{
    font-size: 32px;
    color: #fff;
}
.stack h4{
    font-size: 15px;
    color: #1a1a1a;
}
.aboutme{
    margin-top: 90px;
    box-sizing: border-box;
    border: 3px solid #cacaca;
    width: 910px;
    align-items: center;
    height: 330px;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
    
}

.aboutme h2{
    margin-top: 40px;
    color: #f5f5f5;
    font-size: 32px;
    font-weight: 500;
}
.aboutme p{
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
    color: #1a1a1a;
    margin-right: 40px;
}

@keyframes appear{
    from{
        opacity: 0;
       clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
       clip-path: inset(0 0 0 0);
    }
}
.small-container{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.row .live{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.live h3 .live span{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.aboutme{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}